Repository hash-org/hashc, pull requests merged in 2021-05, with the labels that each got.

#20 Added standard library to sources
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  examples/lang_manifest.hash
  hash-backend/Cargo.toml
  hash-backend/src/lib.rs
  hash-parser/Cargo.toml
  hash-parser/src/ast.rs
  hash-parser/src/error.rs
  hash-parser/src/grammar.rs
  hash-parser/src/hash.pest
  hash-parser/src/lib.rs
  hash-parser/src/location.rs
  hash-parser/src/modules.rs
  hash-parser/src/parse.rs
  hash-typecheck/Cargo.toml
  hash-typecheck/src/lib.rs
  hash/Cargo.toml
  hash/src/error.rs
  hash/src/main.rs
  src/pest_parser/mod.rs
  stdlib/io.hash
  stdlib/iter.hash
  stdlib/list.hash
  stdlib/num.hash
  stdlib/prelude.hash
Labels: parser, standard-library

#21 Added Interactive mode to one of the backends
  Cargo.lock
  docs/_config.yml
  docs/basics.md
  docs/conditionals.md
  docs/generics.md
  docs/index.md
  docs/internals.md
  docs/interpreter-options.md
  docs/loops.md
  docs/modules.md
  docs/pattern-matching.md
  docs/standard-library.md
  docs/types.md
  hash-backend/Cargo.toml
  hash-parser/src/parse.rs
  hash/Cargo.toml
  hash/src/interactive/command.rs
  hash/src/interactive/error.rs
  hash/src/interactive/mod.rs
  hash/src/main.rs
Labels: runtime

#22 Modify grammar to make it easier to parse into AST
  hash-parser/src/ast.rs
  hash-parser/src/emit.rs
  hash-parser/src/hash.pest
  hash-parser/src/lib.rs
Labels: parser

#31 Fixup some pest grammar problems
  hash-parser/src/hash.pest
Labels: parser
