Repository hash-org/hashc, pull requests merged in 2021-11, with the labels that each got.

#68 Add a generic tree writer in `hash_utils`.
  compiler/hash-ast/src/module.rs
  compiler/hash-parser/src/token.rs
  compiler/hash-utils/src/lib.rs
  compiler/hash-utils/src/tree_writing.rs
Labels: enhancement

#67 AST: Complete implementation for AST generation from the parser.
  Cargo.lock
  compiler/hash-alloc/src/collections/row.rs
  compiler/hash-ast/src/ast.rs
  compiler/hash-ast/src/count.rs
  compiler/hash-ast/src/error.rs
  compiler/hash-ast/src/keyword.rs
  compiler/hash-ast/src/lib.rs
  compiler/hash-ast/src/location.rs
  compiler/hash-ast/src/module.rs
  compiler/hash-ast/src/operator.rs
  compiler/hash-ast/src/parse.rs
  compiler/hash-ast/src/resolve.rs
  compiler/hash-ast/src/visualise.rs
  compiler/hash-interactive/Cargo.toml
  compiler/hash-interactive/src/lib.rs
  compiler/hash-parser/src/backend.rs
  compiler/hash-parser/src/gen.rs
  compiler/hash-parser/src/lexer.rs
  compiler/hash-parser/src/lib.rs
  compiler/hash-parser/src/operator.rs
  compiler/hash-parser/src/token.rs
  compiler/hash-pest-parser/src/backend.rs
  compiler/hash-pest-parser/src/grammar.pest
  compiler/hash-pest-parser/src/precedence.rs
  compiler/hash-pest-parser/src/translate.rs
  compiler/hash-pest-parser/src/utils.rs
  compiler/hash-reporting/Cargo.toml
  compiler/hash-reporting/src/errors.rs
  compiler/hash-reporting/src/highlight.rs
  compiler/hash-reporting/src/lib.rs
  compiler/hash-reporting/src/reporting.rs
  compiler/hash/Cargo.toml
  compiler/hash/src/main.rs
  examples/lang_manifest.hash
  examples/prelude.hash
  examples/visual.hash
Labels: parser

#69 Fix 66
  compiler/hash-ast/src/module.rs
  compiler/hash-ast/src/resolve.rs
  compiler/hash-ast/test/should_pass/empty_while_loop/case.hash
  compiler/hash-parser/src/gen.rs
  compiler/hash-reporting/src/reporting.rs
  examples/visual.hash
Labels: bug, parser

#73 fix: #72
  compiler/hash-parser/src/gen.rs
  examples/visual.hash
Labels: error-reporting
