Repository hash-org/hashc, pull requests merged in 2021-12, with the labels that each got.

#79 fix #36: infix function calls weren't being processed correctly.
  compiler/hash-interactive/src/lib.rs
  compiler/hash-parser/src/gen.rs
  compiler/hash-pest-parser/src/translate.rs
Labels: bug, parser

#83 Implementation of AST Visitor
  compiler/hash-ast/src/ast.rs
  compiler/hash-ast/src/count.rs
  compiler/hash-ast/src/lib.rs
  compiler/hash-ast/src/location.rs
  compiler/hash-ast/src/tree.rs
  compiler/hash-ast/src/visitor.rs
  compiler/hash-ast/src/visualise.rs
  compiler/hash-parser/src/gen.rs
  compiler/hash-parser/src/token.rs
  compiler/hash-pest-parser/src/translate.rs
Labels: enhancement

#87 docs: Remove examples from the compiler sources repository (#77)
  CONTRIBUTING.md
  README.md
  compiler/hash-reporting/src/reporting.rs
  examples/ideas.md
  examples/imports/a.hash
  examples/imports/b.hash
  examples/imports/c.hash
  examples/imports/d.hash
  examples/imports/e.hash
  examples/imports/f.hash
  examples/imports/g.hash
  examples/imports/h.hash
  examples/lang_manifest.hash
  examples/next.hash
  examples/pointers.hash
  examples/prelude.hash
  examples/visual.hash
Labels: documentation

#90 Parser: use '=' instead of ':' for namespace destructuring
  compiler/hash-parser/src/gen.rs
  tests/parser/tests/cases/should_pass/pattern_matching_let/case.hash
Labels: parser

#92 Wrap `ast::Module` nodes inside `ast::AstNode` in `Modules`
  compiler/hash-ast/src/module.rs
  compiler/hash-ast/src/parse.rs
  compiler/hash-parser/src/backend.rs
  compiler/hash-parser/src/gen.rs
  compiler/hash-reporting/src/reporting.rs
Labels: enhancement

#93 Lexer: Partially flatten tokens
  .cargo/config.toml
  .gitignore
  Cargo.lock
  compiler/hash-ast/Cargo.toml
  compiler/hash-ast/src/ident.rs
  compiler/hash-ast/src/literal.rs
  compiler/hash-ast/src/resolve.rs
  compiler/hash-parser/src/backend.rs
  compiler/hash-parser/src/error.rs
  compiler/hash-parser/src/gen.rs
  compiler/hash-parser/src/lexer.rs
  compiler/hash-parser/src/operator.rs
  compiler/hash-parser/src/token.rs
  compiler/hash/Cargo.toml
  tests/parser/benches/benches.rs
Labels: parser, performance

#94 Parser: support empty tuples (`void` type -> `(,)`) in single patterns
  compiler/hash-parser/src/gen.rs
  tests/parser/tests/cases/should_pass/destructure_onto_void/case.hash
Labels: bug, parser
