Repository hash-org/hashc, pull requests merged in 2021-07, with the labels that each got.

#49 Use identifier caching to prevent overhead from string operations.
  Cargo.lock
  Cargo.toml
  compiler/hash-ast/Cargo.toml
  compiler/hash-ast/src/ast.rs
  compiler/hash-ast/src/count.rs
  compiler/hash-ast/src/ident.rs
  compiler/hash-ast/src/lib.rs
  compiler/hash-ast/src/parse.rs
  compiler/hash-ast/src/visualise.rs
  compiler/hash-pest-parser/Cargo.toml
  compiler/hash-pest-parser/src/grammar.rs
  compiler/hash-pest-parser/src/translate.rs
  compiler/hash-typecheck/Cargo.toml
  compiler/hash-typecheck/src/lib.rs
  compiler/hash-typecheck/src/types.rs
  compiler/hash-utils/Cargo.toml
  compiler/hash-utils/src/lib.rs
  compiler/hash/src/main.rs
  examples/ideas.md
  examples/next.hash
  examples/pointers.hash
Labels: enhancement, parser

#50 Added a compiler panic handler with formatting and backtracing.
  Cargo.lock
  compiler/hash-ast/src/test.rs
  compiler/hash-ast/test/should_fail/goodbye_world/case.hash
  compiler/hash-ast/test/should_pass/hello_world/case.hash
  compiler/hash-ast/test/should_pass/hello_world/output
  compiler/hash-ast/test/should_pass/hello_world/output_visual
  compiler/hash/Cargo.toml
  compiler/hash/src/main.rs
Labels: error-reporting

#53 Switch github actions to run code on nightly
  .github/workflows/rust.yml
  Cargo.lock
  compiler/hash-ast/src/parse.rs
  compiler/hash-interactive/src/lib.rs
  compiler/hash-typecheck/src/types.rs
Labels: ci

#52 Implement generate_tests macro for generated test cases
  Cargo.lock
  Cargo.toml
  compiler/hash-ast/Cargo.toml
  compiler/hash-ast/src/lib.rs
  compiler/hash-ast/src/test.rs
  compiler/hash-ast/src/tests.rs
  compiler/hash-utils/src/lib.rs
  compiler/hash-utils/src/testing.rs
  compiler/hash-utils/testing-macros/Cargo.toml
  compiler/hash-utils/testing-macros/src/lib.rs
Labels: parser, tests

#54 Refactor the parser
  Cargo.lock
  compiler/hash-ast/Cargo.toml
  compiler/hash-ast/src/ast.rs
  compiler/hash-ast/src/error.rs
  compiler/hash-ast/src/fs.rs
  compiler/hash-ast/src/lib.rs
  compiler/hash-ast/src/module.rs
  compiler/hash-ast/src/parse.rs
  compiler/hash-ast/src/resolve.rs
  compiler/hash-interactive/src/command.rs
  compiler/hash-interactive/src/lib.rs
  compiler/hash-pest-parser/Cargo.toml
  compiler/hash-pest-parser/src/backend.rs
  compiler/hash-pest-parser/src/grammar.rs
  compiler/hash-pest-parser/src/lib.rs
  compiler/hash-pest-parser/src/translate.rs
  compiler/hash/src/main.rs
  examples/imports/a.hash
  examples/imports/b.hash
  examples/imports/c.hash
  examples/imports/d.hash
  examples/imports/e.hash
  examples/imports/f.hash
  examples/imports/g.hash
  examples/imports/h.hash
Labels: parser

#55 Implementation for the `hash-parser` Tokeniser
  .mailmap
  Cargo.lock
  Cargo.toml
  compiler/hash-ast/Cargo.toml
  compiler/hash-ast/src/ident.rs
  compiler/hash-ast/src/keyword.rs
  compiler/hash-ast/src/lib.rs
  compiler/hash-ast/src/location.rs
  compiler/hash-ast/src/parse.rs
  compiler/hash-ast/src/resolve.rs
  compiler/hash-interactive/Cargo.toml
  compiler/hash-interactive/src/lib.rs
  compiler/hash-parser/Cargo.toml
  compiler/hash-parser/src/backend.rs
  compiler/hash-parser/src/caching.rs
  compiler/hash-parser/src/gen.rs
  compiler/hash-parser/src/lexer.rs
  compiler/hash-parser/src/lib.rs
  compiler/hash-parser/src/token.rs
  compiler/hash-parser/src/utils.rs
  compiler/hash-pest-parser/src/grammar.pest
  compiler/hash-pest-parser/src/translate.rs
  compiler/hash-pest-parser/src/utils.rs
  compiler/hash-utils/src/lib.rs
  compiler/hash/Cargo.toml
  compiler/hash/src/crash_handler.rs
  compiler/hash/src/main.rs
  rustfmt.toml
Labels: parser
