Repository hash-org/hashc, pull requests merged in 2022-09, with the labels that each got.

#513 docs: fix broken links that were recently introduced
  Cargo.lock
  compiler/hash-ast-desugaring/src/lib.rs
  compiler/hash-ast-passes/src/lib.rs
  compiler/hash-ast/src/lib.rs
  compiler/hash-error-codes/src/lib.rs
  compiler/hash-ir/Cargo.toml
  compiler/hash-ir/src/ir.rs
  compiler/hash-lexer/src/lib.rs
  compiler/hash-lower/src/builder.rs
  compiler/hash-lower/src/cfg.rs
  compiler/hash-lower/src/lib.rs
  compiler/hash-parser/src/diagnostics/warning.rs
  compiler/hash-parser/src/import_resolver.rs
  compiler/hash-parser/src/parser/mod.rs
  compiler/hash-parser/src/parser/name.rs
  compiler/hash-pipeline/src/fs.rs
  compiler/hash-typecheck/src/diagnostics/macros.rs
  compiler/hash-typecheck/src/exhaustiveness/deconstruct.rs
  compiler/hash-typecheck/src/exhaustiveness/lower.rs
  compiler/hash-typecheck/src/exhaustiveness/mod.rs
  compiler/hash-typecheck/src/exhaustiveness/usefulness.rs
  compiler/hash-typecheck/src/lib.rs
  compiler/hash-typecheck/src/ops/discover.rs
  compiler/hash-typecheck/src/ops/params.rs
  compiler/hash-typecheck/src/ops/pats.rs
  compiler/hash-typecheck/src/ops/reader.rs
  compiler/hash-typecheck/src/ops/substitute.rs
  compiler/hash-typecheck/src/ops/typing.rs
  compiler/hash-typecheck/src/storage/exhaustiveness.rs
  compiler/hash-typecheck/src/storage/mod.rs
  compiler/hash-typecheck/src/storage/sources.rs
  compiler/hash-typecheck/src/traverse/visitor.rs
  compiler/hash-types/src/bootstrap.rs
  compiler/hash-types/src/builder.rs
  compiler/hash-types/src/fmt.rs
  compiler/hash-types/src/lib.rs
  compiler/hash-types/src/storage.rs
  compiler/hash-types/src/terms.rs
  compiler/hash-utils/src/lib.rs
  compiler/hash-utils/src/store.rs
  tests/testing-internal/src/metadata.rs
Labels: documentation

#514 parser: reduce size of `ParseError` and properly detect unclosed delimiters
  compiler/hash-lexer/src/lib.rs
  compiler/hash-parser/src/import_resolver.rs
  compiler/hash-parser/src/parser/expr.rs
  compiler/hash-pipeline/src/fs.rs
  compiler/hash-pipeline/src/lib.rs
  tests/cases/parser/misc/non_existant_import.stderr
  tests/cases/parser/misc/unclosed_parens.hash
  tests/cases/parser/misc/unclosed_parens.stderr
Labels: bug, parser

#516 Parser: handle trailing semi colons gracefully
  compiler/hash-ast-passes/src/lib.rs
  compiler/hash-parser/src/diagnostics/warning.rs
  compiler/hash-parser/src/parser/block.rs
  compiler/hash-parser/src/parser/expr.rs
  compiler/hash-parser/src/parser/mod.rs
  compiler/hash-typecheck/src/traverse/visitor.rs
  tests/cases/parser/misc/trailing_semis.hash
  tests/cases/parser/misc/trailing_semis.stderr
Labels: parser

#515 semantics+tc: verify no `self` in free standing functions
  Cargo.lock
  Cargo.toml
  compiler/hash-ast/src/ast.rs
  compiler/hash-ast/src/tree.rs
  compiler/hash-ast/src/visitor.rs
  compiler/hash-parser/src/parser/expr.rs
  compiler/hash-typecheck/src/traverse/params.rs
  compiler/hash-typecheck/src/traverse/visitor.rs
  compiler/hash-untyped-semantics/Cargo.toml
  compiler/hash-untyped-semantics/src/analysis/block.rs
  compiler/hash-untyped-semantics/src/analysis/mod.rs
  compiler/hash-untyped-semantics/src/analysis/params.rs
  compiler/hash-untyped-semantics/src/analysis/pat.rs
  compiler/hash-untyped-semantics/src/diagnostics/directives.rs
  compiler/hash-untyped-semantics/src/diagnostics/error.rs
  compiler/hash-untyped-semantics/src/diagnostics/mod.rs
  compiler/hash-untyped-semantics/src/diagnostics/origins.rs
  compiler/hash-untyped-semantics/src/diagnostics/warning.rs
  compiler/hash-untyped-semantics/src/lib.rs
  compiler/hash-untyped-semantics/src/visitor.rs
  compiler/hash/Cargo.toml
  compiler/hash/src/main.rs
  tests/Cargo.toml
  tests/cases/semantics/type_annotations/missing_struct_field_annotations.hash
  tests/cases/semantics/type_annotations/missing_struct_field_annotations.stderr
  tests/cases/semantics/type_annotations/self_in_free_standing_fn.hash
  tests/cases/semantics/type_annotations/self_in_free_standing_fn.stderr
  tests/runner.rs
Labels: semantic-analysis

#512 IR: add `Place`s `RValue`s and other needed constructs
  compiler/hash-ir/src/ir.rs
  compiler/hash-typecheck/src/lib.rs
Labels: lowering

#518 docs+ci: remove `pages.yml` job
  .github/workflows/book.yml
  .github/workflows/pages.yml
Labels: documentation, ci

#520 AST: Add scaffolding and definitions for the AST definition macro
  Cargo.lock
  compiler/hash-ast/Cargo.toml
  compiler/hash-tree-def/Cargo.toml
  compiler/hash-tree-def/src/definitions.rs
  compiler/hash-tree-def/src/emitting.rs
  compiler/hash-tree-def/src/lib.rs
  compiler/hash-tree-def/src/parsing.rs
  compiler/hash/Cargo.toml
Labels: ast

#521 tc: Implement traversal for assigning with operands
  compiler/hash-ast/src/ast.rs
  compiler/hash-error-codes/src/error_codes.rs
  compiler/hash-source/src/identifier.rs
  compiler/hash-typecheck/src/diagnostics/error.rs
  compiler/hash-typecheck/src/exhaustiveness/lower.rs
  compiler/hash-typecheck/src/ops/scope.rs
  compiler/hash-typecheck/src/ops/validate.rs
  compiler/hash-typecheck/src/traverse/mod.rs
  compiler/hash-typecheck/src/traverse/operators.rs
  compiler/hash-typecheck/src/traverse/scopes.rs
  compiler/hash-typecheck/src/traverse/visitor.rs
  compiler/hash-types/src/bootstrap.rs
  compiler/hash-types/src/builder.rs
  compiler/hash-types/src/lib.rs
  compiler/hash-types/src/storage.rs
Labels: typechecking

#522 lang: add `typeof` operator
  compiler/hash-ast/src/ast.rs
  compiler/hash-lexer/src/lib.rs
  compiler/hash-parser/src/parser/expr.rs
  compiler/hash-token/src/keyword.rs
  compiler/hash-token/src/lib.rs
  compiler/hash-typecheck/src/traverse/visitor.rs
  tests/cases/parser/types/typeof.hash
  tests/cases/parser/types/typeof_missing_expr.hash
Labels: language

#524 lang: support type parameters on `{nominal:trait} defns, {impl:mod} blocks`
  compiler/hash-ast/src/ast.rs
  compiler/hash-ast/src/tree.rs
  compiler/hash-ast/src/visitor.rs
  compiler/hash-parser/src/diagnostics/error.rs
  compiler/hash-parser/src/parser/block.rs
  compiler/hash-parser/src/parser/definitions.rs
  compiler/hash-parser/src/parser/expr.rs
  compiler/hash-tree-def/src/definitions.rs
  compiler/hash-tree-def/src/lib.rs
  compiler/hash-typecheck/src/ops/scope.rs
  compiler/hash-typecheck/src/traverse/visitor.rs
  compiler/hash-types/src/lib.rs
  compiler/hash-untyped-semantics/src/visitor.rs
  tests/cases/parser/types/enum_with_ty_params.hash
  tests/cases/parser/types/incomplete_ty_params.hash
  tests/cases/parser/types/incomplete_ty_params.stderr
  tests/cases/parser/types/struct_with_ty_params.hash
Labels: parser, ast, language

#525 pipeline: simplify pipeline settings and job parameter handling
  compiler/hash-interactive/src/command.rs
  compiler/hash-interactive/src/lib.rs
  compiler/hash-lower/src/lib.rs
  compiler/hash-pipeline/src/lib.rs
  compiler/hash-pipeline/src/settings.rs
  compiler/hash-pipeline/src/traits.rs
  compiler/hash-typecheck/src/lib.rs
  compiler/hash-vm/src/vm.rs
  compiler/hash-vm/tests/vm.rs
  compiler/hash/src/args.rs
  compiler/hash/src/main.rs
  tests/runner.rs
Labels: core, interface

#527 parser: arrow syntax improvements
  Cargo.lock
  compiler/hash-parser/src/parser/definitions.rs
  compiler/hash-parser/src/parser/expr.rs
  compiler/hash-parser/src/parser/lit.rs
  compiler/hash-parser/src/parser/operator.rs
  compiler/hash-parser/src/parser/ty.rs
  tests/cases/parser/types/enum_with_ty_params.hash
Labels: parser

#526 Implement a macro to generate an AST (or any other tree definition)
  Cargo.lock
  compiler/hash-ast/src/ast.rs
  compiler/hash-tree-def/Cargo.toml
  compiler/hash-tree-def/src/definitions.rs
  compiler/hash-tree-def/src/emit.rs
  compiler/hash-tree-def/src/emitting.rs
  compiler/hash-tree-def/src/lib.rs
  compiler/hash-tree-def/src/parse.rs
  compiler/hash-tree-def/src/validate.rs
Labels: ast

#529 reporting: fix invalid offset on the bottom label of the block view
  compiler/hash-reporting/src/render.rs
  compiler/hash/src/args.rs
  tests/cases/parser/types/incomplete_ty_params.stderr
  tests/cases/typecheck/structs/missing-fields.stderr
  tests/cases/typecheck/traits/comppund_errors.stderr
  tests/cases/typecheck/traits/unspecified_member.stderr
Labels: bug, error-reporting

#528 parser: emit warning on `<>` empty type parameters on definitions
  compiler/hash-parser/src/diagnostics/error.rs
  compiler/hash-parser/src/diagnostics/mod.rs
  compiler/hash-parser/src/diagnostics/warning.rs
  compiler/hash-parser/src/parser/block.rs
  compiler/hash-parser/src/parser/definitions.rs
  compiler/hash-parser/src/parser/mod.rs
  tests/cases/parser/types/incomplete_ty_params.hash
  tests/cases/parser/types/incomplete_ty_params.stderr
Labels: error-reporting, parser

#530 Use define_tree macro to define AST
  compiler/hash-ast-desugaring/src/desugaring.rs
  compiler/hash-ast-desugaring/src/lib.rs
  compiler/hash-ast-desugaring/src/visitor.rs
  compiler/hash-ast/src/ast.rs
  compiler/hash-ast/src/lib.rs
  compiler/hash-ast/src/tree.rs
  compiler/hash-ast/src/visitor.rs
  compiler/hash-parser/src/parser/block.rs
  compiler/hash-parser/src/parser/definitions.rs
  compiler/hash-parser/src/parser/expr.rs
  compiler/hash-parser/src/parser/lit.rs
  compiler/hash-parser/src/parser/pat.rs
  compiler/hash-parser/src/parser/ty.rs
  compiler/hash-pipeline/src/lib.rs
  compiler/hash-tree-def/src/emit.rs
  compiler/hash-typecheck/src/lib.rs
  compiler/hash-typecheck/src/traverse/coerce.rs
  compiler/hash-typecheck/src/traverse/params.rs
  compiler/hash-typecheck/src/traverse/scopes.rs
  compiler/hash-typecheck/src/traverse/visitor.rs
  compiler/hash-untyped-semantics/src/analysis/block.rs
  compiler/hash-untyped-semantics/src/diagnostics/directives.rs
  compiler/hash-untyped-semantics/src/lib.rs
  compiler/hash-untyped-semantics/src/visitor.rs
Labels: ast

#532 Collapse ExprKind AST node to Expr
  compiler/hash-ast-desugaring/src/desugaring.rs
  compiler/hash-ast-desugaring/src/visitor.rs
  compiler/hash-ast/src/ast.rs
  compiler/hash-ast/src/tree.rs
  compiler/hash-parser/src/diagnostics/warning.rs
  compiler/hash-parser/src/parser/definitions.rs
  compiler/hash-parser/src/parser/expr.rs
  compiler/hash-parser/src/parser/lit.rs
  compiler/hash-parser/src/parser/ty.rs
  compiler/hash-typecheck/src/traverse/coerce.rs
  compiler/hash-typecheck/src/traverse/visitor.rs
  compiler/hash-untyped-semantics/src/analysis/block.rs
  compiler/hash-untyped-semantics/src/diagnostics/directives.rs
  compiler/hash-untyped-semantics/src/visitor.rs
Labels: ast

#533 parser: remove `;` requirement after expressions
  compiler/hash-parser/src/parser/block.rs
  compiler/hash-parser/src/parser/expr.rs
  compiler/hash-parser/src/parser/mod.rs
  tests/cases/parser/literals/dangling_parenthesis.stderr
  tests/cases/parser/misc/malformed_access_name.hash
  tests/cases/parser/misc/malformed_access_name.stderr
  tests/cases/parser/misc/malformed_function_literal_arrow.stderr
  tests/cases/parser/types/malformed_function_type.stderr
  tests/cases/parser/types/unclose_type_args.stderr
Labels: parser

#535 parser+tests: strip semis from tests
  compiler/hash-parser/src/parser/block.rs
  compiler/hash-parser/src/parser/expr.rs
  compiler/hash-parser/src/parser/mod.rs
  tests/cases/exhaustiveness/non-exhaustive-decl.hash
  tests/cases/exhaustiveness/non-exhaustive-decl.stderr
  tests/cases/parser/blocks/block_return.hash
  tests/cases/parser/blocks/empty_for_loop.hash
  tests/cases/parser/blocks/empty_if_statement.hash
  tests/cases/parser/blocks/empty_match_statement.hash
  tests/cases/parser/constructs/missing_comma_in_struct_field.hash
  tests/cases/parser/literals/multi_error_char.hash
  tests/cases/parser/literals/multi_error_char.stderr
  tests/cases/parser/misc/issue_223.hash
  tests/cases/parser/misc/issue_223.stderr
  tests/cases/parser/patterns/pat_match_missing_semi.hash
  tests/cases/parser/property_access/numeric_access_with_suffix.hash
  tests/cases/parser/property_access/numeric_access_with_suffix.stderr
  tests/cases/parser/types/incomplete_ty_params.hash
  tests/cases/parser/types/incomplete_ty_params.stderr
  tests/cases/parser/types/missing_type_in_function_literal.hash
  tests/cases/semantics/defs/naming_conventions.hash
  tests/cases/semantics/defs/naming_conventions.stderr
  tests/cases/semantics/pats/multiple_spread.hash
  tests/cases/semantics/pats/multiple_spread.stderr
  tests/cases/semantics/type_annotations/missing_struct_field_annotations.hash
  tests/cases/semantics/type_annotations/self_in_free_standing_fn.hash
  tests/cases/typecheck/functions/non-rt-arg.hash
  tests/cases/typecheck/functions/non-rt-return.hash
  tests/cases/typecheck/property_access/numeric_access_on_struct.hash
  tests/cases/typecheck/property_access/numeric_access_on_struct.stderr
  tests/cases/typecheck/property_access/out_of_bounds_access.hash
  tests/cases/typecheck/property_access/out_of_bounds_access.stderr
  tests/cases/typecheck/structs/malformed-field-types.hash
  tests/cases/typecheck/structs/malformed-field-types.stderr
  tests/cases/typecheck/traits/comppund_errors.hash
  tests/cases/typecheck/traits/comppund_errors.stderr
  tests/cases/typecheck/traits/unspecified_member.hash
  tests/cases/typecheck/traits/unspecified_member.stderr
Labels: parser, tests

#536 source: use macro for generating `IDENTS` refilled identifier map
  compiler/hash-error-codes/src/lib.rs
  compiler/hash-lexer/src/lib.rs
  compiler/hash-parser/src/parser/lit.rs
  compiler/hash-parser/src/parser/name.rs
  compiler/hash-parser/src/parser/pat.rs
  compiler/hash-source/src/constant.rs
  compiler/hash-source/src/identifier.rs
  compiler/hash-typecheck/src/ops/core.rs
  compiler/hash-typecheck/src/traverse/operators.rs
  compiler/hash-typecheck/src/traverse/visitor.rs
  compiler/hash-types/src/bootstrap.rs
  compiler/hash-untyped-semantics/src/visitor.rs
Labels: core

#540 ast-expand: `#dump_ast` directive now allows user to dump the AST for a particular expression
  Cargo.lock
  Cargo.toml
  compiler/hash-ast-expand/src/lib.rs
  compiler/hash-ast-expand/src/visitor.rs
  compiler/hash-pipeline/src/sources.rs
  compiler/hash-reporting/src/render.rs
  compiler/hash-reporting/src/report.rs
  compiler/hash-source/src/lib.rs
  compiler/hash-source/src/location.rs
  compiler/hash-typecheck/Cargo.toml
  compiler/hash/Cargo.toml
  compiler/hash/src/main.rs
  tests/Cargo.toml
  tests/runner.rs
Labels: enhancement, ast, core
