Repository hash-org/hashc, pull requests merged in 2022-10, with the labels that each got.

#542 ir: add initial support for the `#dump_ir` directive
  compiler/hash-ast-expand/src/lib.rs
  compiler/hash-ast/src/ast.rs
  compiler/hash-lower/src/lib.rs
  compiler/hash-parser/src/parser/expr.rs
  compiler/hash-pipeline/src/lib.rs
  compiler/hash-source/src/identifier.rs
  compiler/hash-typecheck/src/lib.rs
  compiler/hash-untyped-semantics/src/analysis/block.rs
  compiler/hash-untyped-semantics/src/diagnostics/directives.rs
  compiler/hash-untyped-semantics/src/diagnostics/error.rs
  compiler/hash-untyped-semantics/src/diagnostics/origins.rs
  compiler/hash-untyped-semantics/src/visitor.rs
  tests/cases/parser/misc/expresionless_directive.stderr
  tests/cases/semantics/directives/dump_ir.hash
  tests/cases/semantics/directives/dump_ir.stderr
Labels: lowering

#547 `hash-types`: re-organise `lib.rs` into more appropriate files
  compiler/hash-ir/src/ir.rs
  compiler/hash-lower/src/build/mod.rs
  compiler/hash-typecheck/src/diagnostics/error.rs
  compiler/hash-typecheck/src/diagnostics/mod.rs
  compiler/hash-typecheck/src/exhaustiveness/construct.rs
  compiler/hash-typecheck/src/exhaustiveness/deconstruct.rs
  compiler/hash-typecheck/src/exhaustiveness/fields.rs
  compiler/hash-typecheck/src/exhaustiveness/lower.rs
  compiler/hash-typecheck/src/exhaustiveness/range.rs
  compiler/hash-typecheck/src/exhaustiveness/wildcard.rs
  compiler/hash-typecheck/src/lib.rs
  compiler/hash-typecheck/src/ops/cache.rs
  compiler/hash-typecheck/src/ops/core.rs
  compiler/hash-typecheck/src/ops/discover.rs
  compiler/hash-typecheck/src/ops/exhaustiveness.rs
  compiler/hash-typecheck/src/ops/oracle.rs
  compiler/hash-typecheck/src/ops/params.rs
  compiler/hash-typecheck/src/ops/pats.rs
  compiler/hash-typecheck/src/ops/reader.rs
  compiler/hash-typecheck/src/ops/scope.rs
  compiler/hash-typecheck/src/ops/simplify.rs
  compiler/hash-typecheck/src/ops/substitute.rs
  compiler/hash-typecheck/src/ops/typing.rs
  compiler/hash-typecheck/src/ops/unify.rs
  compiler/hash-typecheck/src/ops/validate.rs
  compiler/hash-typecheck/src/storage/cache.rs
  compiler/hash-typecheck/src/traverse/params.rs
  compiler/hash-typecheck/src/traverse/scopes.rs
  compiler/hash-typecheck/src/traverse/visitor.rs
  compiler/hash-types/src/arguments.rs
  compiler/hash-types/src/bootstrap.rs
  compiler/hash-types/src/builder.rs
  compiler/hash-types/src/fmt.rs
  compiler/hash-types/src/lib.rs
  compiler/hash-types/src/mods.rs
  compiler/hash-types/src/nominals.rs
  compiler/hash-types/src/param_list.rs
  compiler/hash-types/src/params.rs
  compiler/hash-types/src/pats.rs
  compiler/hash-types/src/scope.rs
  compiler/hash-types/src/storage.rs
  compiler/hash-types/src/terms.rs
  compiler/hash-types/src/trts.rs
Labels: typechecking

#549 Add ability to automatically generate default visitor methods that just "walk" the AST and return void
  compiler/hash-ast/src/ast.rs
  compiler/hash-tree-def/src/definitions.rs
  compiler/hash-tree-def/src/emit.rs
  compiler/hash-tree-def/src/lib.rs
  compiler/hash-tree-def/src/parse.rs
Labels: ast

#551 TC: fix error reporting for non-equal compound pattern variable bounds
  compiler/hash-typecheck/src/diagnostics/error.rs
  compiler/hash-typecheck/src/ops/pats.rs
  tests/cases/patterns/548.hash
  tests/cases/patterns/548.stderr
  tests/cases/patterns/multiple_invalid_binds.hash
  tests/cases/patterns/multiple_invalid_binds.stderr
Labels: bug, typechecking, pattern-matching

#555 IR: introduce a formatter for printing out IR in a human readable format
  Cargo.lock
  compiler/hash-alloc/src/collections/row.rs
  compiler/hash-ast-desugaring/src/visitor.rs
  compiler/hash-ast-expand/src/visitor.rs
  compiler/hash-ir/src/ir.rs
  compiler/hash-ir/src/lib.rs
  compiler/hash-ir/src/write.rs
  compiler/hash-lower/src/build/block.rs
  compiler/hash-lower/src/build/expr.rs
  compiler/hash-lower/src/build/matches.rs
  compiler/hash-lower/src/build/mod.rs
  compiler/hash-lower/src/build/pat.rs
  compiler/hash-lower/src/cfg.rs
  compiler/hash-lower/src/discover.rs
  compiler/hash-lower/src/lib.rs
  compiler/hash-lower/src/visitor.rs
  compiler/hash-session/Cargo.toml
  compiler/hash-session/src/lib.rs
  compiler/hash-tree-def/src/emit.rs
  compiler/hash-types/src/pats.rs
  compiler/hash-types/src/scope.rs
  compiler/hash-untyped-semantics/src/diagnostics/error.rs
  compiler/hash-untyped-semantics/src/visitor.rs
  compiler/hash-utils/src/assert.rs
  compiler/hash-utils/src/lib.rs
  tests/cases/semantics/defs/naming_conventions.hash
  tests/cases/semantics/defs/naming_conventions.stderr
  tests/cases/semantics/type_annotations/missing_struct_field_annotations.stderr
Labels: enhancement, ast, core, lowering
