Repository hash-org/hashc, pull requests merged in 2023-01, with the labels that each got.

#670 codegen: write out basic IR lowering interface
  Cargo.lock
  Cargo.toml
  compiler/hash-abi/Cargo.toml
  compiler/hash-abi/src/lib.rs
  compiler/hash-ast-desugaring/src/lib.rs
  compiler/hash-ast-expand/src/lib.rs
  compiler/hash-backend/Cargo.toml
  compiler/hash-backend/src/lib.rs
  compiler/hash-codegen/Cargo.toml
  compiler/hash-codegen/src/common.rs
  compiler/hash-codegen/src/lib.rs
  compiler/hash-codegen/src/lower/mod.rs
  compiler/hash-codegen/src/lower/operands.rs
  compiler/hash-codegen/src/lower/place.rs
  compiler/hash-codegen/src/traits/abi.rs
  compiler/hash-codegen/src/traits/builder.rs
  compiler/hash-codegen/src/traits/constants.rs
  compiler/hash-codegen/src/traits/ctx.rs
  compiler/hash-codegen/src/traits/debug.rs
  compiler/hash-codegen/src/traits/intrinsics.rs
  compiler/hash-codegen/src/traits/layout.rs
  compiler/hash-codegen/src/traits/mod.rs
  compiler/hash-codegen/src/traits/target.rs
  compiler/hash-codegen/src/traits/ty.rs
  compiler/hash-layout/Cargo.toml
  compiler/hash-layout/src/lib.rs
  compiler/hash-lower/src/lib.rs
  compiler/hash-parser/src/lib.rs
  compiler/hash-pipeline/src/interface.rs
  compiler/hash-pipeline/src/lib.rs
  compiler/hash-pipeline/src/settings.rs
  compiler/hash-session/Cargo.toml
  compiler/hash-session/src/lib.rs
  compiler/hash-target/src/abi.rs
  compiler/hash-target/src/alignment.rs
  compiler/hash-target/src/layout.rs
  compiler/hash-target/src/lib.rs
  compiler/hash-target/src/size.rs
  compiler/hash-typecheck/src/lib.rs
  compiler/hash-untyped-semantics/src/diagnostics/error.rs
  compiler/hash-untyped-semantics/src/diagnostics/mod.rs
  compiler/hash-untyped-semantics/src/diagnostics/origins.rs
  compiler/hash-untyped-semantics/src/lib.rs
  compiler/hash-vm/src/lib.rs
Labels: codegen

#671 ir+lower: add more utlities for traversing CFG
  Cargo.lock
  compiler/hash-abi/src/lib.rs
  compiler/hash-codegen/src/common.rs
  compiler/hash-codegen/src/lower/mod.rs
  compiler/hash-codegen/src/traits/builder.rs
  compiler/hash-codegen/src/traits/constants.rs
  compiler/hash-codegen/src/traits/debug.rs
  compiler/hash-codegen/src/traits/mod.rs
  compiler/hash-ir/Cargo.toml
  compiler/hash-ir/src/basic_blocks.rs
  compiler/hash-ir/src/ir.rs
  compiler/hash-ir/src/lib.rs
  compiler/hash-ir/src/traversal.rs
  compiler/hash-ir/src/ty.rs
  compiler/hash-ir/src/visitor.rs
  compiler/hash-ir/src/write/pretty.rs
  compiler/hash-lower/src/build/expr.rs
  compiler/hash-lower/src/build/mod.rs
  compiler/hash-lower/src/build/rvalue.rs
  compiler/hash-lower/src/lib.rs
  compiler/hash-lower/src/optimise/mod.rs
  compiler/hash-lower/src/optimise/simplify.rs
  compiler/hash-lower/src/traversal.rs
  compiler/hash-reporting/src/diagnostic.rs
  compiler/hash-types/src/params.rs
  compiler/hash-types/src/storage.rs
  compiler/hash-utils/Cargo.toml
  compiler/hash-utils/src/graph/dominators.rs
  compiler/hash-utils/src/graph/mod.rs
  compiler/hash-utils/src/graph/visit.rs
  compiler/hash-utils/src/lib.rs
Labels: lowering

#677 Add bootstrapping primitives to TC
  compiler/hash-typecheck/src/lib.rs
  compiler/hash-typecheck/src/new/environment/tc_env.rs
  compiler/hash-typecheck/src/new/ops/bootstrap.rs
  compiler/hash-typecheck/src/new/ops/common.rs
  compiler/hash-typecheck/src/new/ops/context.rs
  compiler/hash-typecheck/src/new/ops/data.rs
  compiler/hash-typecheck/src/new/ops/mod.rs
  compiler/hash-typecheck/src/new/ops/normalise.rs
  compiler/hash-typecheck/src/new/passes/scope_discovery.rs
  compiler/hash-typecheck/src/new/passes/symbol_resolution/exprs.rs
  compiler/hash-typecheck/src/new/passes/symbol_resolution/mod.rs
  compiler/hash-typecheck/src/new/passes/symbol_resolution/params.rs
  compiler/hash-typecheck/src/new/passes/symbol_resolution/paths.rs
  compiler/hash-typecheck/src/new/passes/symbol_resolution/pats.rs
  compiler/hash-typecheck/src/new/passes/symbol_resolution/tys.rs
  compiler/hash-types/src/new/access.rs
  compiler/hash-types/src/new/args.rs
  compiler/hash-types/src/new/data.rs
  compiler/hash-types/src/new/lits.rs
  compiler/hash-types/src/new/locations.rs
  compiler/hash-types/src/new/mods.rs
  compiler/hash-types/src/new/params.rs
  compiler/hash-types/src/new/pats.rs
  compiler/hash-types/src/new/scopes.rs
  compiler/hash-types/src/new/terms.rs
  compiler/hash-types/src/new/tys.rs
  compiler/hash-utils/src/store.rs
Labels: typechecking

#682 Construct all (most) terms during the resolution pass
  compiler/hash-typecheck/src/new/diagnostics/error.rs
  compiler/hash-typecheck/src/new/environment/ast_info.rs
  compiler/hash-typecheck/src/new/ops/common.rs
  compiler/hash-typecheck/src/new/ops/infer.rs
  compiler/hash-typecheck/src/new/passes/ast_utils.rs
  compiler/hash-typecheck/src/new/passes/discovery/defs.rs
  compiler/hash-typecheck/src/new/passes/discovery/mod.rs
  compiler/hash-typecheck/src/new/passes/discovery/params.rs
  compiler/hash-typecheck/src/new/passes/discovery/visitor.rs
  compiler/hash-typecheck/src/new/passes/mod.rs
  compiler/hash-typecheck/src/new/passes/resolution/exprs.rs
  compiler/hash-typecheck/src/new/passes/resolution/mod.rs
  compiler/hash-typecheck/src/new/passes/resolution/params.rs
  compiler/hash-typecheck/src/new/passes/resolution/paths.rs
  compiler/hash-typecheck/src/new/passes/resolution/pats.rs
  compiler/hash-typecheck/src/new/passes/resolution/scoping.rs
  compiler/hash-typecheck/src/new/passes/resolution/tys.rs
  compiler/hash-typecheck/src/new/passes/resolution/visitor.rs
  compiler/hash-typecheck/src/new/passes/scope_discovery.rs
  compiler/hash-typecheck/src/new/passes/symbol_resolution/exprs.rs
  compiler/hash-types/src/new/environment/context.rs
  compiler/hash-types/src/new/fns.rs
  compiler/hash-types/src/new/terms.rs
  compiler/hash-utils/src/state.rs
Labels: typechecking

#683 Resolve AST types during resolution
  compiler/hash-typecheck/src/new/ops/common.rs
  compiler/hash-typecheck/src/new/ops/context.rs
  compiler/hash-typecheck/src/new/ops/params.rs
  compiler/hash-typecheck/src/new/passes/ast_utils.rs
  compiler/hash-typecheck/src/new/passes/discovery/defs.rs
  compiler/hash-typecheck/src/new/passes/discovery/params.rs
  compiler/hash-typecheck/src/new/passes/discovery/visitor.rs
  compiler/hash-typecheck/src/new/passes/resolution/exprs.rs
  compiler/hash-typecheck/src/new/passes/resolution/scoping.rs
  compiler/hash-typecheck/src/new/passes/resolution/tys.rs
  compiler/hash-types/src/new/environment/context.rs
  compiler/hash-types/src/new/terms.rs
  compiler/hash-types/src/new/tys.rs
Labels: typechecking

#685 codegen: implement lowering `RValue`s
  compiler/hash-codegen/src/common.rs
  compiler/hash-codegen/src/lib.rs
  compiler/hash-codegen/src/lower/place.rs
  compiler/hash-codegen/src/lower/rvalue.rs
  compiler/hash-codegen/src/traits/builder.rs
  compiler/hash-codegen/src/traits/constants.rs
  compiler/hash-codegen/src/traits/ty.rs
  compiler/hash-ir/src/ir.rs
  compiler/hash-ir/src/ty.rs
Labels: codegen

#687 Re-traverse definitions during resolution to resolve their inner terms
  compiler/hash-typecheck/src/new/ops/bootstrap.rs
  compiler/hash-typecheck/src/new/ops/common.rs
  compiler/hash-typecheck/src/new/ops/context.rs
  compiler/hash-typecheck/src/new/ops/data.rs
  compiler/hash-typecheck/src/new/passes/discovery/defs.rs
  compiler/hash-typecheck/src/new/passes/discovery/params.rs
  compiler/hash-typecheck/src/new/passes/discovery/visitor.rs
  compiler/hash-typecheck/src/new/passes/mod.rs
  compiler/hash-typecheck/src/new/passes/resolution/defs.rs
  compiler/hash-typecheck/src/new/passes/resolution/exprs.rs
  compiler/hash-typecheck/src/new/passes/resolution/mod.rs
  compiler/hash-typecheck/src/new/passes/resolution/params.rs
  compiler/hash-typecheck/src/new/passes/resolution/paths.rs
  compiler/hash-typecheck/src/new/passes/resolution/pats.rs
  compiler/hash-typecheck/src/new/passes/resolution/scoping.rs
  compiler/hash-typecheck/src/new/passes/resolution/tys.rs
  compiler/hash-typecheck/src/new/passes/resolution/visitor.rs
  compiler/hash-types/src/new/control.rs
  compiler/hash-types/src/new/defs.rs
  compiler/hash-types/src/new/environment/context.rs
  compiler/hash-types/src/new/environment/env.rs
  compiler/hash-types/src/new/lits.rs
  compiler/hash-types/src/new/params.rs
  compiler/hash-types/src/new/scopes.rs
  compiler/hash-types/src/new/utils/builder.rs
  compiler/hash-types/src/new/utils/classifier.rs
  compiler/hash-types/src/new/utils/common.rs
  compiler/hash-types/src/new/utils/mod.rs
Labels: typechecking

#688 codegen: handle code generation for operands and places
  compiler/hash-codegen/src/common.rs
  compiler/hash-codegen/src/lower/constants.rs
  compiler/hash-codegen/src/lower/locals.rs
  compiler/hash-codegen/src/lower/operands.rs
  compiler/hash-codegen/src/lower/place.rs
  compiler/hash-codegen/src/lower/rvalue.rs
  compiler/hash-codegen/src/lower/statement.rs
  compiler/hash-codegen/src/lower/terminator.rs
  compiler/hash-codegen/src/lower/utils.rs
  compiler/hash-codegen/src/traits/builder.rs
  compiler/hash-codegen/src/traits/constants.rs
  compiler/hash-codegen/src/traits/ctx.rs
  compiler/hash-codegen/src/traits/layout.rs
  compiler/hash-codegen/src/traits/mod.rs
  compiler/hash-codegen/src/traits/ty.rs
  compiler/hash-ir/src/ir.rs
  compiler/hash-ir/src/lib.rs
  compiler/hash-ir/src/ty.rs
  compiler/hash-layout/src/lib.rs
  compiler/hash-lower/src/build/expr.rs
  compiler/hash-lower/src/build/matches/candidate.rs
  compiler/hash-lower/src/build/matches/test.rs
  compiler/hash-lower/src/build/place.rs
  compiler/hash-lower/src/build/utils.rs
  compiler/hash-target/src/abi.rs
  compiler/hash-target/src/layout.rs
  compiler/hash-target/src/size.rs
Labels: codegen

#689 Fix some issues during resolution
  Cargo.lock
  Cargo.toml
  compiler/hash-intrinsics/Cargo.toml
  compiler/hash-intrinsics/src/lib.rs
  compiler/hash-parser/src/parser/lit.rs
  compiler/hash-typecheck/src/new/diagnostics/error.rs
  compiler/hash-typecheck/src/new/ops/bootstrap.rs
  compiler/hash-typecheck/src/new/ops/common.rs
  compiler/hash-typecheck/src/new/ops/context.rs
  compiler/hash-typecheck/src/new/ops/mods.rs
  compiler/hash-typecheck/src/new/passes/discovery/defs.rs
  compiler/hash-typecheck/src/new/passes/discovery/visitor.rs
  compiler/hash-typecheck/src/new/passes/resolution/defs.rs
  compiler/hash-typecheck/src/new/passes/resolution/exprs.rs
  compiler/hash-typecheck/src/new/passes/resolution/params.rs
  compiler/hash-typecheck/src/new/passes/resolution/paths.rs
  compiler/hash-typecheck/src/new/passes/resolution/pats.rs
  compiler/hash-typecheck/src/new/passes/resolution/scoping.rs
  compiler/hash-typecheck/src/new/passes/resolution/tys.rs
  compiler/hash-types/src/new/control.rs
  compiler/hash-types/src/new/data.rs
  compiler/hash-types/src/new/environment/context.rs
  compiler/hash-types/src/new/environment/env.rs
  compiler/hash-types/src/new/environment/stores.rs
  compiler/hash-types/src/new/fns.rs
  compiler/hash-types/src/new/intrinsics.rs
  compiler/hash-types/src/new/lits.rs
  compiler/hash-types/src/new/mod.rs
  compiler/hash-types/src/new/mods.rs
  compiler/hash-types/src/new/params.rs
  compiler/hash-types/src/new/scopes.rs
  compiler/hash-types/src/new/terms.rs
  compiler/hash-types/src/new/utils/common.rs
Labels: typechecking

#690 Add a declarative way of defining intrinsics
  Cargo.lock
  compiler/hash-intrinsics/src/intrinsics.rs
  compiler/hash-intrinsics/src/lib.rs
  compiler/hash-intrinsics/src/primitives.rs
  compiler/hash-intrinsics/src/utils.rs
  compiler/hash-pipeline/src/settings.rs
  compiler/hash-typecheck/Cargo.toml
  compiler/hash-typecheck/src/lib.rs
  compiler/hash-typecheck/src/new/diagnostics/error.rs
  compiler/hash-typecheck/src/new/environment/tc_env.rs
  compiler/hash-typecheck/src/new/ops/bootstrap.rs
  compiler/hash-typecheck/src/new/ops/common.rs
  compiler/hash-typecheck/src/new/ops/infer.rs
  compiler/hash-typecheck/src/new/ops/mod.rs
  compiler/hash-typecheck/src/new/ops/oracle.rs
  compiler/hash-typecheck/src/new/ops/tuple.rs
  compiler/hash-typecheck/src/new/passes/ast_utils.rs
  compiler/hash-typecheck/src/new/passes/discovery/defs.rs
  compiler/hash-typecheck/src/new/passes/discovery/mod.rs
  compiler/hash-typecheck/src/new/passes/discovery/params.rs
  compiler/hash-typecheck/src/new/passes/discovery/visitor.rs
  compiler/hash-typecheck/src/new/passes/resolution/exprs.rs
  compiler/hash-typecheck/src/new/passes/resolution/params.rs
  compiler/hash-typecheck/src/new/passes/resolution/paths.rs
  compiler/hash-typecheck/src/new/passes/resolution/pats.rs
  compiler/hash-typecheck/src/new/passes/resolution/scoping.rs
  compiler/hash-typecheck/src/new/passes/resolution/tys.rs
  compiler/hash-typecheck/src/storage/cache.rs
  compiler/hash-typecheck/src/storage/sources.rs
  compiler/hash-types/Cargo.toml
  compiler/hash-types/src/location.rs
  compiler/hash-types/src/new/environment/stores.rs
  compiler/hash-types/src/new/fns.rs
  compiler/hash-types/src/new/intrinsics.rs
  compiler/hash-types/src/new/params.rs
  compiler/hash-types/src/new/utils/builder.rs
  compiler/hash-types/src/new/utils/common.rs
  compiler/hash-types/src/new/utils/data.rs
  compiler/hash-types/src/new/utils/defs.rs
  compiler/hash-types/src/new/utils/fns.rs
  compiler/hash-types/src/new/utils/mod.rs
  compiler/hash-types/src/new/utils/mods.rs
  compiler/hash-types/src/new/utils/params.rs
  compiler/hash-types/src/new/utils/stack.rs
  compiler/hash-types/src/new/utils/tuples.rs
  compiler/hash-types/src/nodes.rs
  compiler/hash-types/src/params.rs
  compiler/hash-utils/src/store.rs
  tests/testing-internal/src/metadata.rs
Labels: typechecking

#699 layout: implement computing the layout for all `IrTy`s
  Cargo.lock
  compiler/hash-codegen/src/lower/place.rs
  compiler/hash-codegen/src/lower/terminator.rs
  compiler/hash-ir/src/ty.rs
  compiler/hash-layout/src/compute.rs
  compiler/hash-layout/src/lib.rs
  compiler/hash-source/src/constant.rs
  compiler/hash-target/Cargo.toml
  compiler/hash-target/src/abi.rs
  compiler/hash-target/src/layout.rs
  compiler/hash-target/src/lib.rs
  compiler/hash-target/src/primitives.rs
  compiler/hash-target/src/size.rs
Labels: codegen

#700 Layout: implement `#layout_of` directive and layout visualisation
  Cargo.lock
  compiler/hash-abi/Cargo.toml
  compiler/hash-abi/src/lib.rs
  compiler/hash-backend/src/lib.rs
  compiler/hash-codegen/Cargo.toml
  compiler/hash-codegen/src/common.rs
  compiler/hash-codegen/src/lower/locals.rs
  compiler/hash-codegen/src/lower/operands.rs
  compiler/hash-codegen/src/lower/place.rs
  compiler/hash-codegen/src/lower/rvalue.rs
  compiler/hash-codegen/src/traits/ctx.rs
  compiler/hash-ir/Cargo.toml
  compiler/hash-ir/src/ty.rs
  compiler/hash-ir/src/write/mod.rs
  compiler/hash-layout/Cargo.toml
  compiler/hash-layout/src/compute.rs
  compiler/hash-layout/src/lib.rs
  compiler/hash-layout/src/write.rs
  compiler/hash-lower/Cargo.toml
  compiler/hash-lower/src/build/matches/candidate.rs
  compiler/hash-lower/src/build/matches/test.rs
  compiler/hash-lower/src/build/mod.rs
  compiler/hash-lower/src/build/ty.rs
  compiler/hash-lower/src/build/utils.rs
  compiler/hash-lower/src/discover.rs
  compiler/hash-lower/src/lib.rs
  compiler/hash-lower/src/ty/mod.rs
  compiler/hash-pipeline/Cargo.toml
  compiler/hash-pipeline/src/settings.rs
  compiler/hash-pipeline/src/workspace.rs
  compiler/hash-session/Cargo.toml
  compiler/hash-session/src/lib.rs
  compiler/hash-source/src/identifier.rs
  compiler/hash-target/src/abi.rs
  compiler/hash-target/src/alignment.rs
  compiler/hash-target/src/layout.rs
  compiler/hash-target/src/size.rs
  compiler/hash-untyped-semantics/Cargo.toml
  compiler/hash-untyped-semantics/src/diagnostics/directives.rs
  compiler/hash-untyped-semantics/src/diagnostics/error.rs
  compiler/hash-untyped-semantics/src/visitor.rs
  compiler/hash-utils/src/state.rs
  tests/cases/semantics/directives/dump_ir.stderr
  tests/cases/semantics/directives/layout_of.hash
  tests/cases/semantics/directives/layout_of.stderr
Labels: codegen

#701 codegen+ir: tie up loose ends and un-implemented items
  compiler/hash-codegen/src/lower/operands.rs
  compiler/hash-codegen/src/lower/place.rs
  compiler/hash-codegen/src/lower/rvalue.rs
  compiler/hash-ir/src/ir.rs
  compiler/hash-ir/src/lib.rs
  compiler/hash-ir/src/ty.rs
  compiler/hash-layout/src/lib.rs
  compiler/hash-lower/src/build/utils.rs
  compiler/hash-source/src/constant.rs
  compiler/hash-target/src/abi.rs
  compiler/hash-target/src/primitives.rs
Labels: lowering, codegen

#702 lowering: fix bug with `bool` literals in `match` cases not being handled
  compiler/hash-ast/src/tree.rs
  compiler/hash-backend/src/lib.rs
  compiler/hash-codegen/src/lower/terminator.rs
  compiler/hash-ir/src/ir.rs
  compiler/hash-ir/src/lib.rs
  compiler/hash-ir/src/ty.rs
  compiler/hash-lower/src/build/matches/candidate.rs
  compiler/hash-lower/src/build/matches/test.rs
  compiler/hash-lower/src/build/matches/utils.rs
  compiler/hash-lower/src/build/ty.rs
  compiler/hash-lower/src/ty/mod.rs
  compiler/hash-reporting/src/macros.rs
  compiler/hash-session/src/lib.rs
Labels: lowering

#703 layout+lower: improvements and documentation clean
  compiler/hash-codegen/src/lower/rvalue.rs
  compiler/hash-ir/src/ir.rs
  compiler/hash-ir/src/ty.rs
  compiler/hash-ir/src/visitor.rs
  compiler/hash-ir/src/write/mod.rs
  compiler/hash-layout/src/write.rs
  compiler/hash-lower/src/build/block.rs
  compiler/hash-lower/src/build/category.rs
  compiler/hash-lower/src/build/constant.rs
  compiler/hash-lower/src/build/expr.rs
  compiler/hash-lower/src/build/matches/candidate.rs
  compiler/hash-lower/src/build/matches/const_range.rs
  compiler/hash-lower/src/build/matches/declarations.rs
  compiler/hash-lower/src/build/matches/mod.rs
  compiler/hash-lower/src/build/matches/test.rs
  compiler/hash-lower/src/build/mod.rs
  compiler/hash-lower/src/build/place.rs
  compiler/hash-lower/src/build/rvalue.rs
  compiler/hash-lower/src/build/temp.rs
  compiler/hash-lower/src/build/utils.rs
  compiler/hash-lower/src/discover.rs
  compiler/hash-lower/src/lib.rs
  compiler/hash-lower/src/optimise/cleanup_locals.rs
  compiler/hash-lower/src/optimise/mod.rs
  compiler/hash-lower/src/optimise/simplify.rs
  compiler/hash-target/src/primitives.rs
Labels: lowering, codegen

#704 lowering: implement emitting overflow checks for unary ops and `BinOp::Div` and `BinOp::Mod`
  compiler/hash-codegen/src/lower/operands.rs
  compiler/hash-codegen/src/lower/place.rs
  compiler/hash-codegen/src/lower/rvalue.rs
  compiler/hash-codegen/src/lower/terminator.rs
  compiler/hash-codegen/src/lower/utils.rs
  compiler/hash-ir/src/ir.rs
  compiler/hash-ir/src/lib.rs
  compiler/hash-ir/src/ty.rs
  compiler/hash-layout/src/compute.rs
  compiler/hash-layout/src/lib.rs
  compiler/hash-layout/src/write.rs
  compiler/hash-lower/src/build/expr.rs
  compiler/hash-lower/src/build/matches/candidate.rs
  compiler/hash-lower/src/build/matches/optimise.rs
  compiler/hash-lower/src/build/matches/test.rs
  compiler/hash-lower/src/build/mod.rs
  compiler/hash-lower/src/build/place.rs
  compiler/hash-lower/src/build/rvalue.rs
  compiler/hash-lower/src/build/ty.rs
  compiler/hash-lower/src/build/utils.rs
  compiler/hash-source/src/constant.rs
Labels: lowering

#712 abi+layout: implement ABI deduction and parsing data layouts
  compiler/hash-abi/src/lib.rs
  compiler/hash-codegen/src/lower/abi.rs
  compiler/hash-codegen/src/lower/mod.rs
  compiler/hash-codegen/src/lower/terminator.rs
  compiler/hash-codegen/src/lower/utils.rs
  compiler/hash-codegen/src/traits/ctx.rs
  compiler/hash-ir/src/ty.rs
  compiler/hash-layout/src/compute.rs
  compiler/hash-layout/src/lib.rs
  compiler/hash-pipeline/src/settings.rs
  compiler/hash-target/src/abi.rs
  compiler/hash-target/src/data_layout.rs
  compiler/hash-target/src/lib.rs
  compiler/hash-target/src/primitives.rs
  compiler/hash-target/src/size.rs
Labels: codegen

#714 Hook up typechecking to the semantic pipeline
  compiler/hash-semantics/src/new/ops/bootstrap.rs
  compiler/hash-semantics/src/new/ops/infer.rs
  compiler/hash-semantics/src/new/passes/inference/mod.rs
  compiler/hash-semantics/src/new/passes/mod.rs
  compiler/hash-semantics/src/new/passes/resolution/mod.rs
  compiler/hash-tir/src/new/environment/context.rs
Labels: typechecking

#715 codegen(llvm): add trait implementation methods for LLVM backend
  .github/workflows/rust.yml
  Cargo.lock
  INSTALL.md
  README.md
  compiler/hash-backend/src/lib.rs
  compiler/hash-codegen-llvm/Cargo.toml
  compiler/hash-codegen-llvm/src/lib.rs
  compiler/hash-codegen-llvm/src/translation/abi.rs
  compiler/hash-codegen-llvm/src/translation/builder.rs
  compiler/hash-codegen-llvm/src/translation/constants.rs
  compiler/hash-codegen-llvm/src/translation/context.rs
  compiler/hash-codegen-llvm/src/translation/debug_info.rs
  compiler/hash-codegen-llvm/src/translation/intrinsics.rs
  compiler/hash-codegen-llvm/src/translation/layouts.rs
  compiler/hash-codegen-llvm/src/translation/misc.rs
  compiler/hash-codegen-llvm/src/translation/mod.rs
  compiler/hash-codegen-llvm/src/translation/ty.rs
  compiler/hash-codegen/src/lib.rs
  compiler/hash-codegen/src/lower/abi.rs
  compiler/hash-codegen/src/lower/locals.rs
  compiler/hash-codegen/src/lower/mod.rs
  compiler/hash-codegen/src/lower/operands.rs
  compiler/hash-codegen/src/lower/place.rs
  compiler/hash-codegen/src/lower/rvalue.rs
  compiler/hash-codegen/src/lower/statement.rs
  compiler/hash-codegen/src/lower/terminator.rs
  compiler/hash-codegen/src/lower/utils.rs
  compiler/hash-codegen/src/traits/abi.rs
  compiler/hash-codegen/src/traits/builder.rs
  compiler/hash-codegen/src/traits/ctx.rs
  compiler/hash-codegen/src/traits/layout.rs
  compiler/hash-codegen/src/traits/mod.rs
  compiler/hash-layout/src/lib.rs
  compiler/hash-session/Cargo.toml
  compiler/hash-session/src/lib.rs
Labels: codegen

#718 tests: add capability to pass arguments and capture `stdout` and `stderr`
  Cargo.lock
  compiler/hash-ast-desugaring/src/lib.rs
  compiler/hash-ast-expand/src/lib.rs
  compiler/hash-ast-expand/src/visitor.rs
  compiler/hash-interactive/Cargo.toml
  compiler/hash-interactive/src/command.rs
  compiler/hash-interactive/src/error.rs
  compiler/hash-interactive/src/lib.rs
  compiler/hash-ir/src/ir.rs
  compiler/hash-ir/src/write/graphviz.rs
  compiler/hash-ir/src/write/pretty.rs
  compiler/hash-lower/src/build/expr.rs
  compiler/hash-lower/src/build/rvalue.rs
  compiler/hash-lower/src/lib.rs
  compiler/hash-parser/src/lib.rs
  compiler/hash-pipeline/Cargo.toml
  compiler/hash-pipeline/src/args.rs
  compiler/hash-pipeline/src/interface.rs
  compiler/hash-pipeline/src/lib.rs
  compiler/hash-pipeline/src/settings.rs
  compiler/hash-pipeline/src/workspace.rs
  compiler/hash-reporting/src/errors.rs
  compiler/hash-reporting/src/lib.rs
  compiler/hash-reporting/src/macros.rs
  compiler/hash-semantics/src/diagnostics/macros.rs
  compiler/hash-semantics/src/lib.rs
  compiler/hash-semantics/src/new/diagnostics/panic.rs
  compiler/hash-semantics/src/new/passes/inference/mod.rs
  compiler/hash-session/src/lib.rs
  compiler/hash-target/src/lib.rs
  compiler/hash-utils/src/printing.rs
  compiler/hash/Cargo.toml
  compiler/hash/src/args.rs
  compiler/hash/src/logger.rs
  compiler/hash/src/main.rs
  tests/cases/lowering/functions.hash
  tests/cases/lowering/functions.stdout
  tests/cases/semantics/directives/dump_ir.stdout
  tests/cases/semantics/directives/unknown_directive.stdout
  tests/runner.rs
  tests/testing-internal/src/metadata.rs
  tests/testing-macros/src/lib.rs
Labels: tests, core

#719 Implement traversal utilities for TIR
  compiler/hash-intrinsics/src/primitives.rs
  compiler/hash-semantics/src/new/passes/resolution/exprs.rs
  compiler/hash-semantics/src/new/passes/resolution/params.rs
  compiler/hash-semantics/src/new/passes/resolution/pats.rs
  compiler/hash-semantics/src/new/passes/resolution/tys.rs
  compiler/hash-tir/src/lib.rs
  compiler/hash-tir/src/new/defs.rs
  compiler/hash-tir/src/new/params.rs
  compiler/hash-tir/src/new/pats.rs
  compiler/hash-tir/src/new/tuples.rs
  compiler/hash-tir/src/new/utils/common.rs
  compiler/hash-tir/src/new/utils/data.rs
  compiler/hash-tir/src/new/utils/mod.rs
  compiler/hash-tir/src/new/utils/params.rs
  compiler/hash-tir/src/new/utils/traversing.rs
  compiler/hash-tir/src/new/utils/tuples.rs
  compiler/hash-typecheck/src/infer.rs
Labels: typechecking

#721 Implement atom substitution and basic inference
  Cargo.lock
  compiler/hash-semantics/src/new/diagnostics/error.rs
  compiler/hash-tir/Cargo.toml
  compiler/hash-tir/src/new/lits.rs
  compiler/hash-tir/src/new/mod.rs
  compiler/hash-tir/src/new/sub.rs
  compiler/hash-tir/src/new/utils/common.rs
  compiler/hash-tir/src/new/utils/traversing.rs
  compiler/hash-typecheck/src/elaboration.rs
  compiler/hash-typecheck/src/errors.rs
  compiler/hash-typecheck/src/inference.rs
  compiler/hash-typecheck/src/lib.rs
  compiler/hash-typecheck/src/normalisation.rs
  compiler/hash-typecheck/src/normalise.rs
  compiler/hash-typecheck/src/substitution.rs
  compiler/hash-typecheck/src/substitutions.rs
  compiler/hash-typecheck/src/unification.rs
Labels: typechecking

#722 codegen(llvm): implement all `BlockBuilderMethods` on `Builder`
  Cargo.lock
  compiler/hash-abi/src/lib.rs
  compiler/hash-codegen-llvm/src/translation/abi.rs
  compiler/hash-codegen-llvm/src/translation/builder.rs
  compiler/hash-codegen-llvm/src/translation/context.rs
  compiler/hash-codegen-llvm/src/translation/declare.rs
  compiler/hash-codegen-llvm/src/translation/intrinsics.rs
  compiler/hash-codegen-llvm/src/translation/layouts.rs
  compiler/hash-codegen-llvm/src/translation/metadata.rs
  compiler/hash-codegen-llvm/src/translation/mod.rs
  compiler/hash-codegen-llvm/src/translation/ty.rs
  compiler/hash-codegen/src/common.rs
  compiler/hash-codegen/src/lower/operands.rs
  compiler/hash-codegen/src/lower/place.rs
  compiler/hash-codegen/src/lower/rvalue.rs
  compiler/hash-codegen/src/lower/terminator.rs
  compiler/hash-codegen/src/traits/builder.rs
  compiler/hash-codegen/src/traits/ty.rs
  compiler/hash-target/src/abi.rs
  compiler/hash-target/src/primitives.rs
Labels: codegen

#723 codegen(llvm): Implement `TypeBuilderMethods` and `ConstValueBuilderMethods`
  Cargo.lock
  compiler/hash-codegen-llvm/Cargo.toml
  compiler/hash-codegen-llvm/src/context.rs
  compiler/hash-codegen-llvm/src/lib.rs
  compiler/hash-codegen-llvm/src/misc.rs
  compiler/hash-codegen-llvm/src/translation/abi.rs
  compiler/hash-codegen-llvm/src/translation/builder.rs
  compiler/hash-codegen-llvm/src/translation/constants.rs
  compiler/hash-codegen-llvm/src/translation/context.rs
  compiler/hash-codegen-llvm/src/translation/debug_info.rs
  compiler/hash-codegen-llvm/src/translation/declare.rs
  compiler/hash-codegen-llvm/src/translation/layouts.rs
  compiler/hash-codegen-llvm/src/translation/metadata.rs
  compiler/hash-codegen-llvm/src/translation/misc.rs
  compiler/hash-codegen-llvm/src/translation/mod.rs
  compiler/hash-codegen-llvm/src/translation/ty.rs
  compiler/hash-codegen/src/common.rs
  compiler/hash-codegen/src/lib.rs
  compiler/hash-codegen/src/lower/abi.rs
  compiler/hash-codegen/src/lower/locals.rs
  compiler/hash-codegen/src/lower/mod.rs
  compiler/hash-codegen/src/lower/operands.rs
  compiler/hash-codegen/src/lower/place.rs
  compiler/hash-codegen/src/lower/rvalue.rs
  compiler/hash-codegen/src/lower/terminator.rs
  compiler/hash-codegen/src/lower/utils.rs
  compiler/hash-codegen/src/symbols.rs
  compiler/hash-codegen/src/traits/constants.rs
  compiler/hash-codegen/src/traits/debug.rs
  compiler/hash-codegen/src/traits/layout.rs
  compiler/hash-codegen/src/traits/mod.rs
  compiler/hash-codegen/src/traits/ty.rs
  compiler/hash-ir/src/lib.rs
  compiler/hash-ir/src/ty.rs
  compiler/hash-layout/Cargo.toml
  compiler/hash-layout/src/compute.rs
  compiler/hash-layout/src/lib.rs
  compiler/hash-lower/src/build/mod.rs
  compiler/hash-lower/src/lib.rs
  compiler/hash-pipeline/src/settings.rs
  compiler/hash-semantics/src/storage/cache.rs
  compiler/hash-session/src/lib.rs
  compiler/hash-source/src/constant.rs
  compiler/hash-target/src/abi.rs
  compiler/hash-tir/src/nodes.rs
  compiler/hash-tir/src/terms.rs
  compiler/hash-utils/Cargo.toml
  compiler/hash-utils/src/store.rs
Labels: codegen

#724 codegen(llvm): implement resolving and loading in intrinsic functions
  compiler/hash-codegen-llvm/src/context.rs
  compiler/hash-codegen-llvm/src/misc.rs
  compiler/hash-codegen-llvm/src/translation/builder.rs
  compiler/hash-codegen-llvm/src/translation/intrinsics.rs
  compiler/hash-codegen-llvm/src/translation/metadata.rs
  compiler/hash-codegen-llvm/src/translation/ty.rs
  compiler/hash-codegen/src/lib.rs
  compiler/hash-codegen/src/lower/intrinsics.rs
  compiler/hash-codegen/src/lower/mod.rs
  compiler/hash-codegen/src/lower/operands.rs
  compiler/hash-codegen/src/lower/terminator.rs
  compiler/hash-codegen/src/traits/builder.rs
  compiler/hash-codegen/src/traits/intrinsics.rs
  compiler/hash-ir/src/intrinsics.rs
  compiler/hash-ir/src/lib.rs
  compiler/hash-ir/src/ty.rs
Labels: codegen

#725 codegen(llvm): implement deducing types and parameter attributes from function ABIs
  compiler/hash-abi/src/lib.rs
  compiler/hash-codegen-llvm/src/context.rs
  compiler/hash-codegen-llvm/src/misc.rs
  compiler/hash-codegen-llvm/src/translation/abi.rs
  compiler/hash-codegen-llvm/src/translation/builder.rs
  compiler/hash-codegen-llvm/src/translation/declare.rs
  compiler/hash-codegen-llvm/src/translation/intrinsics.rs
  compiler/hash-codegen-llvm/src/translation/misc.rs
  compiler/hash-codegen/src/lower/abi.rs
  compiler/hash-codegen/src/lower/intrinsics.rs
  compiler/hash-codegen/src/lower/terminator.rs
  compiler/hash-codegen/src/traits/ctx.rs
  compiler/hash-codegen/src/traits/misc.rs
  compiler/hash-ir/src/lib.rs
  compiler/hash-ir/src/ty.rs
  compiler/hash-lower/src/ty/mod.rs
  compiler/hash-pipeline/src/settings.rs
  compiler/hash-target/src/size.rs
Labels: codegen

#727 codegen(llvm): implement code generating a program entry point
  compiler/hash-abi/src/lib.rs
  compiler/hash-codegen-llvm/src/translation/misc.rs
  compiler/hash-codegen/src/lower/abi.rs
  compiler/hash-target/src/abi.rs
  compiler/hash-target/src/lib.rs
Labels: codegen

#728 parser: merge nested directives
  Cargo.lock
  compiler/hash-ast-expand/src/visitor.rs
  compiler/hash-ast/Cargo.toml
  compiler/hash-ast/src/ast.rs
  compiler/hash-ast/src/node_map.rs
  compiler/hash-ast/src/tree.rs
  compiler/hash-lower/src/discover.rs
  compiler/hash-parser/src/diagnostics/error.rs
  compiler/hash-parser/src/parser/definitions.rs
  compiler/hash-parser/src/parser/expr.rs
  compiler/hash-parser/src/parser/lit.rs
  compiler/hash-parser/src/parser/mod.rs
  compiler/hash-parser/src/parser/pat.rs
  compiler/hash-parser/src/parser/ty.rs
  compiler/hash-semantics/src/traverse/visitor.rs
  compiler/hash-untyped-semantics/src/visitor.rs
  compiler/hash-utils/Cargo.toml
  compiler/hash-utils/src/lib.rs
  tests/cases/parser/misc/double_hash.stderr
  tests/cases/parser/misc/expresionless_directive.stderr
  tests/cases/semantics/directives/dump_ir.stderr
  tests/cases/semantics/directives/layout_of.stderr
  tests/cases/semantics/directives/unknown_directive.stderr
Labels: parser

#730 codegen(llvm): some builder cleanups and minor fixes
  compiler/hash-backend/src/lib.rs
  compiler/hash-codegen-llvm/src/context.rs
  compiler/hash-codegen-llvm/src/translation/abi.rs
  compiler/hash-codegen-llvm/src/translation/builder.rs
  compiler/hash-codegen-llvm/src/translation/constants.rs
  compiler/hash-codegen-llvm/src/translation/debug_info.rs
  compiler/hash-codegen-llvm/src/translation/declare.rs
  compiler/hash-codegen-llvm/src/translation/intrinsics.rs
  compiler/hash-codegen-llvm/src/translation/layouts.rs
  compiler/hash-codegen-llvm/src/translation/metadata.rs
  compiler/hash-codegen-llvm/src/translation/misc.rs
  compiler/hash-codegen-llvm/src/translation/mod.rs
  compiler/hash-codegen-llvm/src/translation/ty.rs
  compiler/hash-codegen/src/lower/intrinsics.rs
  compiler/hash-codegen/src/lower/terminator.rs
  compiler/hash-codegen/src/traits/builder.rs
  compiler/hash-codegen/src/traits/misc.rs
  compiler/hash-parser/src/diagnostics/warning.rs
  compiler/hash-parser/src/parser/mod.rs
  compiler/hash-source/src/identifier.rs
Labels: parser, codegen

#731 Inference progress PR
  compiler/hash-semantics/src/lib.rs
  compiler/hash-semantics/src/new/environment/tc_env.rs
  compiler/hash-semantics/src/new/passes/inference/mod.rs
  compiler/hash-semantics/src/new/passes/resolution/exprs.rs
  compiler/hash-semantics/src/new/passes/resolution/scoping.rs
  compiler/hash-semantics/src/new/passes/resolution/tys.rs
  compiler/hash-tir/src/new/control.rs
  compiler/hash-tir/src/new/environment/context.rs
  compiler/hash-tir/src/new/environment/stores.rs
  compiler/hash-tir/src/new/holes.rs
  compiler/hash-tir/src/new/scopes.rs
  compiler/hash-tir/src/new/terms.rs
  compiler/hash-tir/src/new/utils/common.rs
  compiler/hash-tir/src/new/utils/context.rs
  compiler/hash-tir/src/new/utils/traversing.rs
  compiler/hash-typecheck/src/elaboration.rs
  compiler/hash-typecheck/src/errors.rs
  compiler/hash-typecheck/src/inference.rs
  compiler/hash-typecheck/src/lib.rs
  compiler/hash-typecheck/src/unification.rs
Labels: typechecking

#754 Add inference loop and infer data types
  compiler/hash-semantics/src/new/passes/inference/mod.rs
  compiler/hash-tir/src/new/utils/traversing.rs
  compiler/hash-typecheck/src/inference.rs
  compiler/hash-typecheck/src/substitution.rs
Labels: typechecking
